@font-face {
    font-family: Ailerons;
    src: url(/fonts/Ailerons.ttf);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #939393;
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    margin: 0;
}

#orientation-warning {
    display: none;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #FFDF02;
}
@media only screen and (orientation:portrait) {
    .container { display:none; }
    #orientation-warning { display:block; }
}
@media only screen and (orientation:landscape) {
    #orientation-warning { display:none; }
}

/*------------------------------------*/
/*               Setup                */
/*------------------------------------*/
.setup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 475px;
    height: 210px;
    background-color: #3E4249;
    background-image: url("/images/header.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    margin: auto;
}

/*---------- Start Section ----------*/
.setup .section-start {
    position: absolute;
    bottom: 0;
    margin: 23px 0;
    width: 100%;
}
.setup .section-start .join, .setup .section-start .host {
    display: block;
    padding: 20px;
    margin: auto;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #FFDF02;
    cursor: pointer;
}
.setup .section-start .join:hover, .setup .section-start .host:hover {
    color: #939393;
}

/*---------- Join Section ----------*/
.setup .section-join {
    display: none;
    height: 170px;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.setup .section-join .game-list {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    font-size: 12px;
    color: #FFDF02;
}
.setup .section-join .game-list tr {
    display: block;
    border-bottom: 1px solid #939393;
    padding: 10px;
}
.setup .section-join .game-list td {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.setup .section-join .game-list thead {
    font-size: 16px;
}
.setup .section-join .game-list .hostId {
    margin-left: 20px;
}
.setup .section-join .game-list .connect {
    float: right;
    margin-right: 20px;
}
.setup .section-join .game-list tbody .connect {
    cursor: pointer;
    background: #FFDF02;
    color: #3E4249;
    height: 100%;
    width: 60px;
}
.setup .section-join .game-list tfoot {
    text-align: center;
    color: #939393;
    cursor: pointer;
}
.setup .section-join .game-list tfoot:hover {
    color: #FFDF02;
}
.setup .section-join .game-list tfoot tr {
    border: none;
}

/*---------- Host Section ----------*/
.setup .section-id-input {
    display: none; /* TODO */
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.setup .section-id-input .id-input {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    width: 200px;
    font-size: 16px;
    outline: none;
    text-align: center;
    border: none;
    vertical-align: bottom;
    -webkit-appearance: none;
    border-radius: 0;
}
.setup .section-id-input .start-game {
    background: #FFDF02;
    outline: none;
    border: none;
    color: #3E4249;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 150px;
    cursor: pointer;
}

/*------------------------------------*/
/*             Controller             */
/*------------------------------------*/
.controller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 475px;
    height: 210px;
    background: #FFDF02;
    background-size: cover;
    border-top-width: 20px;
    box-shadow:
        inset 0 0 0 15px #3E4249,
        inset 0 34px 0 #3E4249;
    margin: auto;
    display: none;
}

/*---------- Left Section ----------*/
.controller .section-left {
    width: 130px;
    height: 100%;
    position: relative;
    margin-left: 15px;
    display: inline-block;
    z-index: 0;
}
.controller .section-left .dpad {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}
.controller .section-left .dpad:before, .controller .section-left .dpad:after {
    content: '';
    display: block;
    background: #3E4249;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.controller .section-left .dpad:before {
    height: 100%;
    width: 30px;
    margin: auto;
}
.controller .section-left .dpad:after {
    height: 30px;
    width: 100%;
    margin: auto;
}
.controller .section-left .dpad .up, .controller .section-left .dpad .down,
.controller .section-left .dpad .left, .controller .section-left .dpad .right {
    background: #3E4249;
    border-width: 0;
    outline: none;
    position: absolute;
    padding: 0;
    cursor: pointer;
}
.controller .section-left .dpad .up, .controller .section-left .dpad .down {
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
}
.controller .section-left .dpad .left, .controller .section-left .dpad .right {
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.controller .section-left .dpad .up { top: 0; }
.controller .section-left .dpad .down { bottom: 0; }
.controller .section-left .dpad .left { left: 0; }
.controller .section-left .dpad .right { right: 0; }

/*---------- Middle Section ----------*/
.controller .section-middle {
    width: 140px;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 0;
}
.controller .section-middle:before, .controller .section-middle:after {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background: #3E4249;
    position: absolute;
}
.controller .section-middle:before {
    top: 34px;
}
.controller .section-middle:after {
    bottom: 14px;
}
.controller .section-middle .fuel, .controller .section-middle .health {
    height: 4px;
    width: 120px;
    position: relative;
    border-radius: 4px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #FFDF02;
}
.controller .section-middle .fuel {
    top: 75px;
}
.controller .section-middle .health {
    top: 100px;
}
.controller .section-middle .fuel:before, .controller .section-middle .health:before {
    display: block;
    color: #FFDF02;
    font-size: 10px;
    position: absolute;
    top: -15px;
    width: 100%;
    text-align: center;
}
.controller .section-middle .fuel:before {
    content: 'FUEL';
}
.controller .section-middle .health:before {
    content: 'HEALTH';
}
.controller .section-middle .fuel:after, .controller .section-middle .health:after {
    content: '';
    display: block;
    background: #3E4249;
    width: 140px;
    height: 22px;
    margin-left: -10px;
    margin-top: -14px;
    z-index: -2;
    position: absolute;
}
.controller .section-middle .fuel .bar, .controller .section-middle .health .bar {
    height: 6px;
    width: 0%;
    min-width: 0%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -1px;
    background: #FFDF02;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.controller .section-middle .select, .controller .section-middle .start {
    height: 12px;
    width: 38px;
    background: #FFDF02;
    display: inline-block;
    outline: none;
    position: absolute;
    bottom: 57px;
    border: none;
    cursor: pointer;
}
.controller .section-middle .select {
    left: 20px;
}
.controller .section-middle .start {
    right: 20px;
}
.controller .section-middle .select:before, .controller .section-middle .start:before {
    content: '';
    display: block;
    position: absolute;
    width: 78px;
    height: 40px;
    background: #3E4249;
    border: none;
    z-index: -1;
    top: 0;
    margin-top: -15px;
}
.controller .section-middle .select:before {
    left: 0;
    margin-left: -20px;
}
.controller .section-middle .start:before {
    right: 0;
    margin-right: -20px;
}

/*---------- Right Section ----------*/
.controller .section-right {
    width: 165px;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 0;
}
.controller .section-right .primary, .controller .section-right .secondary {
    position: absolute;
    bottom: 44px;
    width: 40px;
    height: 40px;
    background: #FFDF02;
    border-radius: 50%;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;
}
.controller .section-right .primary {
    right: 35px;
}
.controller .section-right .secondary {
    right: 100px;
}
.controller .section-right .primary:before, .controller .section-right .secondary:before {
    content: '';
    display: block;
    position: absolute;
    background: #3E4249;
    height: 54px;
    width: 54px;
    top: -2px;
    left: -2px;
    margin: -5px;
    z-index: -1;
}
.controller .section-right .primary:after, .controller .section-right .secondary:after {
    color: #3E4249;
    display: block;
    position: absolute;
    bottom: -22px;
    right: -5px;
    margin: -2px;
    z-index: -1;
}
.controller .section-right .primary:after {
    content: 'A';
}
.controller .section-right .secondary:after {
    content: 'B';
}